$btn-d: 5em;
$txt-w: 4 * $btn-d;
$txt-h: 0.65 * $btn-d;
$txt-c: #ffeacc;
$mag-d: 0.5 * $txt-h;
$mag-f: 0.125;
$mag-w: $mag-f * $mag-d;
$mag-c: #000;
$t: 0.65s;

*,
:before,
:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  overflow-x: hidden;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  min-width: 400px;
  min-height: 100vh;
  background: #252525;
}

[id='search-btn'] {
  position: absolute;
  left: -100vw;

  ~ * {
    --i: var(--pos, 1);
    --j: calc(1 - var(--i));
  }

  &:checked ~ * {
    --pos: 0;
  }
}

[for='search-btn'] {
  order: 1;
  overflow: hidden;
  position: relative;
  z-index: 2;
  margin-left: -0.25 * $btn-d;
  width: $btn-d;
  height: $btn-d;
  border-radius: 50%;
  transform: translate(var(--pos, -0.5 * $txt-w)) rotate(45deg);
  background: hsl(
    calc(336 - var(--i) * 269),
    calc(77% + var(--i) * 2%),
    calc(49% + var(--i) * 13%)
  );
  text-indent: -100vw;
  transition: $t ease-out;
  cursor: pointer;

  &:before,
  &:after {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -0.5 * $mag-d;
    width: $mag-d;
    height: $mag-d;
    transition: inherit;
    content: '';
  }

  &:before {
    margin-top: -0.4 * $mag-w;
    height: $mag-w;
    transform-origin: 100% 0;
    transform: translate(var(--pos, 0.25 * $mag-d))
      scalex(calc(1 - var(--i) * 0.5));
    background: currentcolor;
  }

  &:after {
    border: solid $mag-w currentcolor;
    border-radius: calc(var(--i) * 50%);
    transform: translate(var(--pos, -0.25 * $mag-d))
      scalex(calc(var(--j) *#{$mag-f} + var(--i)));
    box-shadow: inset 0 0 0 calc(var(--j) *#{0.5 * $mag-d}) currentcolor;
    transition-property: border-radius, transform, box-shadow;
    transition-timing-function: cubic-bezier(
        calc(var(--j) * 0.42),
        0,
        calc(1 - var(--i) * 0.42),
        1
      ),
      cubic-bezier(calc(var(--i) * 0.42), 0, calc(1 - var(--j) * 0.42), 1);
  }
}

[id='search-bar'] {
  margin-right: -0.25 * $btn-d;
  border: none;
  padding: 0 1em;
  width: $txt-w;
  height: $txt-h;
  border-radius: $txt-h;
  transform: translate(var(--pos, 0.5 * $txt-w));
  background: #3f324d;
  --cp: inset(-2em var(--pos, 100%) -2em -2em);
  -webkit-clip-path: var(--cp);
  clip-path: var(--cp);
  color: #fff;
  font: 1em century gothic, verdana, arial, sans-serif;
  transition: $t;

  &::placeholder {
    opacity: 0.5;
    color: inherit;
    font-size: 0.875em;
    letter-spacing: 1px;
    text-shadow: 0 0 1px, 0 0 2px;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 1.5em $txt-c, 0 1.25em 1.5em rgba(#000, 0.2);
    background: $txt-c;
    color: #000;
  }
}

@import url('https://fonts.googleapis.com/css?family=Rubik:700&display=swap');

$bg: #fff;
$text: #382b22;
$light-pink: #fff0f0;
$pink: #ffe9e9;
$dark-pink: #f9c4d2;
$pink-border: #b18597;
$pink-shadow: #ffe3e2;

* {
  box-sizing: border-box;
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

body {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  // display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  background: $bg;
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  margin-left: 20px;
  margin-bottom: 30px;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
  &.learn-more {
    font-weight: 600;
    color: $text;
    text-transform: uppercase;
    padding: 1.25em 2em;
    background: $light-pink;
    border: 2px solid $pink-border;
    border-radius: 0.75em;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
      background 150ms cubic-bezier(0, 0, 0.58, 1);
    &::before {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: $dark-pink;
      border-radius: inherit;
      box-shadow: 0 0 0 2px $pink-border, 0 0.625em 0 0 $pink-shadow;
      transform: translate3d(0, 0.75em, -1em);
      transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
        box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
    }
    &:hover {
      background: $pink;
      transform: translate(0, 0.25em);
      &::before {
        box-shadow: 0 0 0 2px $pink-border, 0 0.5em 0 0 $pink-shadow;
        transform: translate3d(0, 0.5em, -1em);
      }
    }
    &:active {
      background: $pink;
      transform: translate(0em, 0.75em);
      &::before {
        box-shadow: 0 0 0 2px $pink-border, 0 0 $pink-shadow;
        transform: translate3d(0, 0, -1em);
      }
    }
  }
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  width: 100%;
  max-width: 1260px;
  margin: 0 auto;
  background-color: #a0d1d3;
}

.gallery {
  padding: 0;
  margin: 0;
  list-style: none;
  max-width: calc(100% - 64px);
  margin-left: auto;
  margin-right: auto;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 24px;
}
.gallery-img {
  margin-top: 160px;
}

.photo-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-bottom: 8px;
}
.card-img {
  height: 300px;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0 0 15px 8px #d1b4b0;
}
.stats {
  display: flex;
  justify-content: space-around;
  padding: 8px;
  flex-grow: 1;
}

.button.is-hidden {
  display: none;
}

.logo.is-hidden {
  display: none;
}

.logo {
  display: block;
  width: 365px;
  height: 200px;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-right: auto;
  box-shadow: 0 0 15px 8px #d1b4b0;
  fill: #5a9bdc;
}

.button > .spinner.is-hidden {
  display: none;
}

body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

/* иконки  */
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 48px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  color: #e2e1f5;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.arrow-up-btn {
  position: fixed;
  width: 50px;
  height: 50px;
  background-color: transparent;
  bottom: 40px;
  right: 50px;
  text-align: center;
  text-decoration: none;
  color: #0275d8;
  font-size: 22px;
}
